---
title: APIs
---

You can use the following APIs for the Push Notification Service:

<ul>
  <li><a href="./push/index.html" class="subnav">Push API</a></li>
  <li><a href="./registration/index.html" class="subnav">Registration API</a></li>
  <li><a href="./registrations/index.html" class="subnav">Registrations API</a></li>
  <li><a href="./topics/index.html" class="subnav">Topics API</a></li>
  <li><a href="./custom-user-ids/index.html" class="subnav">Custom User IDs API</a></li>
  <li><a href="./schedules/index.html" class="subnav">Schedules API</a></li>
  <li><a href="./geofences/index.html" class="subnav">Geofences API</a></li>
</ul>
