---
title: Using the Dashboard v1.8.0
---

##<a id="Applications"></a>Applications
An application in the Push Dashboard represents a mobile application from the perspective of the application author, including all supported platforms. Applications are listed in the dropdown at the top of the sidebar.

<img src="assets/dug-summary.png" width="800"/>

### <a id="Addinganapplication"></a> Adding an Application ###
Click **Create New Application** in left sidebar. Fill in the form and click **Save** to create the application, or optionally click **Add Platform** to add a platform for the application.

### <a id="APIURL"></a> API URL ###
The default API URL value of the push backend is `https://push-api.YOUR-SYSTEM-DOMAIN`. However, because the operator can set up multiple routes for network traffic separation, the API URL displayed in the dashboard may be the incorrect endpoint to use, depending on which network the request originates from. 

The correct value used to communicate with the push backend should be the route that allows the device to reach the push backend.
Use `cf routes push-api` to show all routes for the push backend.

### <a id="Editinganapplication"></a> Editing an Application ###
Click the **Configuration** link in the sidebar menu to bring up the information about the application. Click the pencil icon under the **Actions** column to edit the application. Edit the fields and click **Save** to update the application. The **UUID** is immutable.

<img src="assets/dug-actions-edit.png" width="800"/>

### <a id="RegeneratinganAPIkey"></a> Regenerating an API Key ###
Click **Regenerate API Key** to generate a new API key. After generating a new key, you can longer send pushes using the previous API key.

<img src="assets/dug-regenerate-api-key.png" width="800"/>

### <a id="Regeneratingthesharedsecret"></a> Regenerating the Shared Secret ###
Click **Regenerate Shared Secret**. A new shared secret will be generated for use when registering with a custom user id. See [Registering with a Custom User ID](custom-user-id-format.html) for more information.

<img src="assets/dug-regenerate-shared-secret.png" width="800"/>

### <a id="Deletinganapplication"></a> Deleting an Application ###
To delete an application, click the **Configuration** link in the sidebar menu to bring up information about the application. Click the delete icon under the **Actions** column to delete the application. 

<p class='note'><strong>NOTE</strong>: This icon will be disabled if the application has one or more platforms.</p>

<img src="assets/dug-actions-delete.png" width="800"/>

##<a id="Platforms"></a>Platforms
A platform configures platform specific attributes to send push messages. For example, this would include a certificate necessary to send messages to Apple's APNS, or a token necessary to send messages to Google's GCN. A platform has many devices.

<img src="assets/dug-configuration.png" width="800"/>

### <a id="Addingaplatform"></a> Adding a Platform ###
On the Configuration page, click **Add New Platform**. Fill in the form and click **Save** to create the platform.

<img src="assets/dug-configuration-add-platform.png" width="800"/>

<img src="assets/dug-add-platform.png" width="800"/>

### <a id="Editingaplatform"></a> Editing a Platform ###
On the Configuration page, click the pencil icon link next to the platform you want to edit. Edit the fields and click **Save** to update the platform. The  **Type** field cannot be changed once set.

<img src="assets/dug-configuration-edit-platform.png" width="800"/>

<img src="assets/dug-edit-platform.png" width="800"/>

### <a id="Deletingaplatform"></a> Deleting a Platform ###
On the Configuration page, click the trash icon link next to the platform you want to delete. 

<p class='note'><strong>NOTE</strong>: You cannot delete a platform that has devices. In order to remove devices you must unregister from the device.</p>

<img src="assets/dug-configuration-delete-platform.png" width="800"/>

<img src="assets/dug-delete-platform.png" width="800"/>

### <a id="iOSexpiredcertificatewarning"></a> iOS Expired Certificate Warning ###
If your iOS APNS certificate expires, the dashboard displays a warning next to the platform type icon.

<img src="assets/dug-configuration-invalid-ios-certificate.png" width="800"/>

##<a id="Devices"></a>Devices
A device is given a unique identifier which represents a user opting in to receive push notifications. This identifier is not necessarily unique to a device since it might change if the user reinstalls the mobile application, or unsubscribes and resubscribes.

<img src="assets/dug-configuration-view-devices.png" width="800"/>

### <a id="Sendtestpushnotification"></a> Send a Test Push Notification to a Device ###
Click **Devices** in the sidebar menu. Click **Test Push** next to the device. Fill out the push form. See [Sending a push message](#SendingaPushMessage) for details on the form fields.

<img src="assets/dug-devices.png" width="800"/>

<img src="assets/dug-test-push.png" width="800"/>

### <a id="SendingaPushMessage"></a> Sending a Push Message ###
Click **Push Notifications** in the sidebar menu, and click **Create Push Notification**.

<img src="assets/dug-create-push.png" width="800"/>

On the **Create Push Message** page, fill in the form and click **Send Push Notification**.

* **Push Message**: The alert body for the message
* **Target Platform**: Send the push to all devices belonging to a specific platform: iOS, Android, etc.
* **Topics(s)**: Send the push to all devices subscribed to one or more topics
* **Schedule**
	* **Send**: Schedule the push to be sent immediately or at a later time. Defaults to "Immediately"
	* **Expire**: Prevent delivery of the message after a specified time, if delivery is delayed for some reason, for example no connectivity on user device. Defaults to "Never"
* **Interactive Push Category**
	* **iOS Only**: Set the category for a push. This is required for interactive pushes
* **ONLY SEND TO INTERACTIVE PUSH DEVICES**: Filter targeted devices for **only** devices that support interactive push
* **Target Location**: Pick a location to setup a geofence
* **Trigger Type**: If a location is selected, trigger type determines when a geofence is activated

**A Note About Targeting**

`Target Platform` targets all devices of the selected platform. Adding topics to the `Topic(s)` field will refine the target list down, adding only those devices subscribed to one of the listed topics.

**A Note About Sending Push With Invalid Certificate**

**iOS Only**: Sending a push to a device using an **invalid .p12 certificate** set up in the device's corresponding platform results in the device getting removed from the platform.

##<a id="Topics"></a>Topics
A topic allows push notifications to be sent to all devices that have explicitly subscribed to it as opposed to all users that have the application installed. This allows an application to send targeted push notifications to a subset of devices. Devices can subscribe to topics via the <a href="api/registration/registration.html">registrations api</a>. Available topics are listed in the targeting section of the Create Notification form.

<img src="assets/dug-create-with-tags.png" width="800"/>

##<a id="Locations"></a>Locations

Locations allow you to send push notifications to a subset of users who are within or enter the radius of a specified area.

### <a id="AddingaLocation"></a> Adding a Location ###

Click **Locations** on the left sidebar, then click **Add Location**.

<img src="assets/gw-step2.png" width="800"/>

Fill in the **Name** of the location. You can input a **Latitude** and **Longitude** pair, or click the map. Select a radius that suits the location. Once all the details are set, click **Create**.

<img src="assets/gw-step3.png" width="800"/>

### <a id="AddingaLocationGroup"></a> Adding a Location Group ###
Select the **Location Group** tab, then click **Add Location Group**.

<img src="assets/gw-step4.png" width="800"/>

Fill in the **Name** and **Description** of the **Location Group**. In the **Target Location** field, select a location from the drop-down or click on one of the markers on the map. Once all the details are set, click **Create**.

<img src="assets/gw-step5.png" width="800"/>

### <a id="GeofencePushNotifications"></a> Geofence Push Notifications ###
Fill in the details of the **Push Notification**, such as **Message**, **Platform**, and **Schedule**. From the **Target Location** drop-down, select either a **Location** or a **Location Group**. 

**Trigger Type** field appears on the addition of **Location** or **Location Group**. Select either **Enter** or **Exit**, depending on how you want the Geofence to activate. Once you have set all the details, click **Send Push Notification**.

<img src="assets/gw-step7.png" width="800"/>

##<a id="Logs"></a>Logs
The Logs page displays any logged events that occur while the Logs page is open. Clicking **Download Logs** copies the logs displayed into a text file onto your local machine.

<img src="assets/dug-logs.png" width="800"/>
