---
title: Development Guide
---

* <a href="./v1_6_0/first-push-walkthrough/index.html" class="subnav">First Push Walkthrough</a>
* <a href="./v1_6_0/geofence-walkthrough/index.html" class="subnav">First Geofence Walkthrough</a>
* <a href="./ios/index.html" class="subnav">iOS</a>
	* [Sample App](https://github.com/cfmobile/push-ios-samples)
* <a href="./android/index.html" class="subnav">Android</a>
	* [Sample App](https://github.com/cfmobile/push-android-samples)
* <a href="./windowsphone81/index.html" class="subnav">Windows Phone 8.1</a>
	* [Sample App](https://github.com/cfmobile/push-wp81-samples)