---
title: Development Guide
---

* <a href="./v1_6_0/first-push-walkthrough/first-push-walkthrough.html" class="subnav">First Push Walkthrough</a>
* <a href="./v1_6_0/geofence-walkthrough/geofence-walkthrough.html" class="subnav">First Geofence Walkthrough</a>
* <a href="./ios/ios.html" class="subnav">iOS</a>
	* [Sample App](https://github.com/cfmobile/push-ios-samples)
* <a href="./android/android.html" class="subnav">Android</a>
	* [Sample App](https://github.com/cfmobile/push-android-samples)
* <a href="./windowsphone81/windows-phone-8.1.html" class="subnav">Windows Phone 8.1</a>
	* [Sample App](https://github.com/cfmobile/push-wp81-samples)
