---
breadcrumb: PCF Mobile Services
title: Push Notification Service for Pivotal Cloud Foundry
---

<%= partial './end-of-life' %>

This is documentation for the [Push Notification Service](https://network.pivotal.io/products/push-notification-service) for [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF).

##Product Snapshot

The following table provides version and version-support information about Push Notification Service for PCF:

<table class="nice">
    <col style="width:45%">
    <col style="width:55%">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.10.6</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>October 30, 2019</td>
    </tr>
    <tr>
        <td>SDK version(s)</td>
        <td>
            <strong>Android-GCM:</strong> io.pivotal.android:push:1.6.2<br>
            <strong>Android-FCM:</strong> io.pivotal.android:push-fcm:1.9.1<br>
            <strong>Android-Baidu:</strong> io.pivotal.android:push-baidu:1.9.1<br>
            <strong>iOS:</strong> 1.7.1
        </td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.2, 2.3, 2.4, 2.5, and 2.6</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) version(s)</td>
        <td>2.3, 2.4, 2.5, and 2.6</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

##Upgrading to the Latest Version

See the [Product Compatibility Matrix](http://docs.pivotal.io/resources/product-compatibility-matrix.pdf).

##About

The Pivotal [Push Notification Service](https://network.pivotal.io/products/push-notification-service) for [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) allows developers to create a backend that can be used to send push notifications to mobile apps. The service connects and manages the interface to Apple Push Notification Service, Google Cloud Messaging, Firebase Cloud Messaging and Baidu Cloud Push.


Each mobile app communicates with the service for registrations and notification preferences by using the corresponding client SDK. Back-end business logic servers send push notifications to all users or a subset of them. Users can be targeted by platform, by geolocation, by custom user id or by topics.

<img src="assets/push-notifications-network-diagram.png" />

For installation, a PCF administrator initially imports the Pivotal Push Notifications tile into PCF Operations Manager and configures it via the Dashboard at which point the service becomes available to send notifications. The Dashboard provides the ability to configure apps, platforms, and device-specific service parameters. Client SDKs for iOS and Android provide a simplified way to integrate with the Push Notifications service.

The Push Notifications service requires:

- Pivotal RabbitMQ
- Redis database (Pivotal Redis or user provided)
- MySQL database (Pivotal MySQL or user provided)
