---
title: Push Notification Service Release Notes
---

##v1.9.2
**Release Date: July 2017**

**Features**

Devices that are no longer registered against the FCM Google key are now deactivated

**Bug fixes**

Fix push-service-broker packaging for offline installation of Push Notification Service tile

Fix push-dashboard page "Not Found" error if `Accept-Encoding` is missing in request header

##v1.9.1
**Release Date: June 2017**

**Bug fixes**

Fix RabbitMQ connectivity issue

Ensure push-scheduler and push-service-broker use correct Ruby version in latest CF buildpacks

**Known issues**

In an offline environment, running post-install errands will fail due to push-service-broker package missing local dependencies

##v1.9.0
**Release Date: June 2017**

**Features**

Added support for Baidu Cloud Push Service on android.

Removed push logs dependency on redis service instance. Push dashboard now uses websockets for tailing logs. See the [installation](./installation.html#Prerequisites) guide for updated setup instructions.

Logs redis instance can be removed. Refer to [devops](./devops.html#remove_log_redis) guide for instructions.

Push Dashboard Configuration page shows iOS certificate status.

##v1.8.1
**Release Date: March 2017**

**Bug fixes**

Fix an issue when upgrading the push tile on PCF 1.9.*

##v1.8.0
**Release Date: February 2017**

**Features**

Ability to customize push app instance counts during deployment. For more information see  [custom deployments](installation.html#DeploymentSettings).

The Push Dashboard will now show a warning when the iOS certificate in use is expired.

Official support for Azure.

**Bug fixes**

**Known issues**

Upgrading to Push 1.8.0 when running on PCF 1.9 may fail with an error `Server error, status code: 500, error code: 10001, message: An unknown error occurred.`

This is due to the 1.8 version of the push tile defaulting to 2 app instances for each application it deploys on the system org, push-notifications space. This error is encountered when an app is staged and scaled at the same time.

Please upgrade to version 1.8.1 to fix this issue.

Workaround: Update the instance counts of the apps under the system org, push-notifications space to 2 each before installing Push 1.8.0 (or the custom instance counts if you're using that option.)

##v1.7.1
**Release Date: January 2017**

**Bug fixes**

Fix the ability to edit scheduled pushes

##v1.7.0
**Release Date: December 2016**

**Features**

Support for Android FCM push notifications

**Bug fixes**

Dashboard session timeout error

**Known issues**

Once a scheduled push is created, it cannot be edited (will address this bug in a later release)

##v1.6.3
**Release Date: September 2016**

Updated stemcell to v3263 to address kernel vulnerabilities (includes 4.4 kernel)


##v1.6.2
**Release Date: September 2016**

<p class="note"><strong>Note</strong>: Update to Push Notification Service v1.6.2 prior to upgrading to Pivotal Cloud Foundry v1.8.</p>

Updated stemcell to v3263 to address kernel vulnerabilities (includes 4.4 kernel)

Fixes:

- Fixed dashboard issue found when upgrading from PCF v1.7 to PCF v1.8

**Known Issues**

If you installed Push v1.6.2+ after upgrading to PCF v1.8, then remove the app named `push-notifications-analytics` with the following command:
    <pre class="terminal">$ cf delete push-notifications-analytics</pre>

##v1.6.1
**Release Date: August 2016**

Features:

- Proxy support in Push Tile: Users can now add a proxy in the Push Tile (via Ops Mgr console)
- Installation logs now available in Ops Mgr console upon installation failure
fixes

Fixes:

- Fixed issue with multiple tenants being provisioned in system org in push notifications space
- Fixed scaling issue with push api instances due to lack of database connections


**Known Issues:**

Upgrading to PCF v1.8 exposes a bug in versions of Push v1.6.1 and older. The impact is that the dashboard won't be able to display analytics (a message will appear stating "Analytics Data is not available at the moment"). Analytics data is still collected on the backend, the bug prevents it from being displayed.

**The recommended solution is to upgrade to push v1.6.2 prior to upgrading to PCF v1.8 (this is now a pre-requisite for PCF v1.8)**

If installing push v1.6.1 or earlier on PCF v1.8, follow the instructions below


1. To confirm this is the problem you are experiencing, you can check to see if there is a CF app running in the `system` org and `push-notifications` space called `push-notifications-analytics`.


2. Replace `push-analytics` with `push-notifications-analytics` and add a matching route as per the commands shown below

 ```
 cf delete push-analytics
 cf rename push-notifications-analytics push-analytics
 cf map-route push-analytics $ENV_URL --hostname push-analytics
 ```

where `$ENV_URL` is the value of the domain name used for your PCF environment 


## v1.6.0

**Release Date: July 2016**

   - Devices can be grouped under Custom User IDs which can be targeted for pushes
   - Tags have been replaced by Topics
   - Topics can be created with expiry dates

##1.5.7

**Release Date: December 2016**

Security release for CVE as detailed in [USN-3156-1](https://www.ubuntu.com/usn/USN-3156-1/)

##1.5.6

**Release Date: December 2016**

Security release for CVE as detailed in [USN-3151-2](https://www.ubuntu.com/usn/usn-3151-2/)



## v1.5.3

**Release Date: June 2016**

   - Bug fix for Service broker bug with HTTPS


## v1.5.0

**Release Date: June 2016**

   - New Heartbeat Application is deployed with the Push Notifications Service
   - Heartbeat Monitor App available on iOS and Android
   
##v1.4.27

**Release Date October 2016**

- Bump to stemcell v3151.3 for CVE as detailed in USN-3106-2: https://www.ubuntu.com/usn/usn-3106-2/
   
##v1.4.25

**Release Date October 2016**

- Bump Ubuntu stemcell for USN-3099-2: Linux kernel (Xenial HWE) vulnerabilities


## v1.4.24

**Release Date: October 2016**

   - Updated Ubuntu stemcell for USN-3087-2: OpenSSL regression

## v1.4.12
**Release Date: June 2016**

   - Updated BOSH stemcell to v3262.2
   - Bug fix for cf CLI

## v1.4.10
**Release Date: June 2016**

 - Security release requiring stemcell v3232.8

## v1.4.9
**Release Date: June 2016**

 - Security release requiring stemcell v3232.6
 - Bug fix for Service broker bug with HTTPS

## v1.4.7
**Release Date: May 2016**
 - Security release requiring stemcell v3232.2

## v1.4.5
**Release Date: May 2016**
 - PCF v1.7 compatibility.
 - Update to this version of push _before_ updating to PCF v1.7.0

## v1.4.3
**Release Date: March 2016**
 - Security release requiring stemcell v3146.10.

## v1.4.2
**Release Date: February 2016**
 - Security release requiring stemcell v3146.8.

## [v1.4.0](./release-notes/release-notes-1.4.0.html)
**Release Date: November 2015**

 - The Push Notifications Service now supports multiple tenants.
   - Push Notifications is now a service that can be provisioned from the CF Marketplace.
   - The dashboard now requires a Tenant Id.
 - The dashboard now displays logs related to push activities.
 - The analytics system now configures a second Redis to behave as a cache for storing logs.
 - Update to the Push SDK supports iOS 9 and includes a Swift sample app.
 - The Push SDK for Android now supports Android 6.0 Marshmallow, including the new permissions system.
   - See the Push Sample app for an example of Android 6.0 Marshmallow permissions.

## [v1.3.5](./release-notes/release-notes-1.3.5.html)
**Release Date: October 2015**

 - Support for PCF v1.6 and Diego.
 - SOCKS proxy bug fix.

## [v1.3.4](./release-notes/release-notes-1.3.4.html)
**Release Date: October 2015**

 - Bug fixes for smoke tests.

## [v1.3.3](./release-notes/release-notes-1.3.3.html)
**Release Date: September 2015**

 - Bug fixes for certain scenarios regarding expiry time.
## v1.3.3 iOS and Android Client SDK

- Push app analytics.
- Custom HTTP request headers.
- Custom SSL authentication.

## [v1.3.2](./release-notes/release-notes-1.3.2.html)
**Release Date: August 2015**

 - Deprecated lucid64 stack in favour of the new Trusty/cflinuxfs2 stack
 - Proxy Support for iOS push notifications.  Supports SOCKS proxies.
 - Proxy Support for Android push notifications.  Supports HTTP and SOCKS proxies.

## v1.3.2 iOS and Android Client SDK

- Enable and disable geofences at runtime.
- Added a method to read the device UUID at runtime.

## [v1.3.1](./release-notes/release-notes-1.3.1.html)
**Release Date: August 2015**

  - Support for RabbitMQ Service versions v1.4.0 and later
  - Tag management added to dashboard
  - Ability to regenerate push api keys
  - Minor improvements to installation
  - Allow certificate checks to be disabled in cf environments that use self signed certificates

## v1.3.1 iOS and Android Client SDK

- SSL Certificate pinning.
- Any geofences with tags will be monitored only if the user is subscribed to that tag.

## [v1.3.0](./release-notes/release-notes-1.3.0.html)
**Release Date: June 2015**

- Location based notifications
- Android and iOS support (SDKs)
- Dashboard support
	- Maps
	- Saved locations and groups of locations
	- Active geofences view

[Upgrading from version v1.2.x to v1.3.0](./release-notes/release-notes-1.3.0.html)

## v1.2.1 ##
**Release Date: April 2015**

- Offline installation support

## [v1.2.0](./release-notes/release-notes-1.2.0.html) ##
**Release Date: March 2015**

- Scheduled push notifications
- Notifications with expiry time
- Updated UI/UX for dashboard (sending scheduled push with expiry time)

## [v1.1.0 - January 2015](./release-notes/release-notes-1.1.0.html) ##

## [v1.0.1 - November 2014](./release-notes/release-notes-1.0.1.html) ##

## [v1.0.0 — July 2014](./release-notes/release-notes-1.0.0.html) ##
