---
title: Push Notification Service Release Notes
---
##1.6.2
**Release Date: September 2016**

Updated stemcell to v3263 to address kernel vulnerabilities (includes 4.4 kernel)




##1.6.2
**Release Date: September 2016**

<p class="note"><strong>Note</strong>: Please update to Push Notification Service v1.6.2 prior to upgrading to PCF 1.8.</p>

Fixes:

- Fixed dashboard issue found when upgrading from PCF 1.7 to PCF 1.8 

**Known Issues**

If you installed Push v1.6.2+ after upgrading to PCF 1.8, then remove the app named `push-notifications-analytics` with the following command:
    <pre class="terminal">$ cf delete push-notifications-analytics</pre>

##1.6.1
**Release Date: August 2016**

Features:

- Proxy support in Push Tile: Users can now add a proxy in the Push Tile (via Ops Mgr console)
- Installation logs now available in Ops Mgr console upon installation failure
fixes

Fixes:

- Fixed issue with multiple tenants being provisioned in system org in push notifications space
- Fixed scaling issue with push api instances due to lack of database connections


**Known Issues:**

Upgrading to PCF 1.8 exposes a bug in versions of Push 1.6.1 and older. The impact is that the dashboard won't be able to display analytics (a message will appear stating "Analytics Data is not available at the moment"). Analytics data is still collected on the backend, the bug prevents it from being displayed.

**The recommended solution is to upgrade to push v1.6.2 prior to upgrading to PCF 1.8 (this is now a pre-requisite for PCF 1.8)**

If installing push v1.6.1 or earlier on PCF 1.8, follow the instructions below

1. To confirm this is the problem you are experiencing, you can check to see if there is a CF app running in the `system` org and `push-notifications` space called `push-notifications-analytics`.
 

2. Replace `push-analytics` with `push-notifications-analytics` and add a matching route as per the commands shown below
 
 ```
 cf delete push-analytics
 cf rename push-notifications-analytics push-analytics
 cf map-route push-analytics $ENV_URL --hostname push-analytics
 ```

where `$ENV_URL` is the value of the domain name used for your PCF environment 


## 1.6.0

**Release Date: July 2016**

   - Devices can be grouped under Custom User IDs which can be targeted for pushes
   - Tags have been replaced by Topics
   - Topics can be created with expiry dates


## 1.5.3

**Release Date: June 2016**

   - Bug fix for Service broker bug with HTTPS


## 1.5.0

**Release Date: June 2016**

   - New Heartbeat Application is deployed with the Push Notifications Service
   - Heartbeat Monitor App available on iOS and Android
	

## 1.4.12
**Release Date: June 2016**

   - Updated bosh stemcell to v3262.2
   - Bug fix for CF cli

## 1.4.10
**Release Date: June 2016**

 - Security release requiring stemcell 3232.8

## 1.4.9
**Release Date: June 2016**

 - Security release requiring stemcell 3232.6
 - Bug fix for Service broker bug with HTTPS

## 1.4.7
**Release Date: May 2016**
 - Security release requiring stemcell 3232.2

## 1.4.5
**Release Date: May 2016**
 - PCF 1.7 compatibility.
 - Please update to this version of push _before_ updating to PCF 1.7.0

## 1.4.3
**Release Date: March 2016**
 - Security release requiring stemcell 3146.10.

## 1.4.2
**Release Date: February 2016**
 - Security release requiring stemcell 3146.8.

## [1.4.0](v1_4_0/release-notes.html)
**Release Date: November 2015**

 - The Push Notifications Service now supports multiple tenants.
   - Push Notifications is now a service that can be provisioned from the CF Marketplace.
   - The dashboard now requires a Tenant Id.
 - The dashboard now displays logs related to push activities.
 - The analytics system now configures a second Redis to behave as a cache for storing logs.
 - Update to the Push SDK supports iOS 9 and includes a Swift sample app.
 - The Push SDK for Android now supports Android 6.0 Marshmallow, including the new permissions system.
   - See the Push Sample app for an example of Android 6.0 Marshmallow permissions.

## [1.3.5](v1_3_5/release-notes.html)
**Release Date: October 2015**

 - Support for PCF 1.6 and Diego.
 - SOCKS proxy bug fix.

## [1.3.4](v1_3_4/release-notes.html)
**Release Date: October 2015**

 - Bugfixes for smoke tests.

## [1.3.3](v1_3_3/release-notes.html)
**Release Date: September 2015**

 - Bugfixes for certain scenarios regarding expiry time.

## [1.3.3 iOS and Android Client SDK](v1_3_3/sdk-release-notes.html)

- Push app analytics.
- Custom HTTP request headers.
- Custom SSL authentication.

## [1.3.2](v1_3_2/release-notes.html)
**Release Date: August 2015**

 - Deprecated lucid64 stack in favour of the new Trusty/cflinuxfs2 stack
 - Proxy Support for iOS push notifications.  Supports SOCKS proxies.
 - Proxy Support for Android push notifications.  Supports HTTP and SOCKS proxies.

## [1.3.2 iOS and Android Client SDK](v1_3_2/sdk-release-notes.html)

- Enable and disable geofences at runtime.
- Added a method to read the device UUID at runtime.

## [1.3.1](v1_3_1/release-notes.html)
**Release Date: August 2015**

  - Support for RabbitMQ Service versions 1.4.0 and higher
  - Tag management added to dashboard
  - Ability to regenerate push api keys
  - Minor improvements to installation
  - Allow certificate checks to be disabled in cf environments that use self signed certificates

## [1.3.1 iOS and Android Client SDK](v1_3_1/sdk-release-notes.html)

- SSL Certificate pinning.
- Any geofences with tags will be monitored only if the user is subscribed to that tag.

## [1.3.0](v1_3/release-notes.html)
**Release Date: June 2015**

- Location based notifications
- Android and iOS support (SDKs)
- Dashboard support
	- Maps
	- Saved locations and groups of locations
	- Active geofences view

[Upgrading from version 1.2.x to 1.3.0](v1_3/release-notes.html)

## 1.2.1 ##
**Release Date: April 2015**

- Offline installation support

## [1.2.0](v1_2/release-notes.html) ##
**Release Date: March 2015**

- Scheduled push notifications
- Notifications with expiry time
- Updated UI/UX for dashboard (sending scheduled push with expiry time)

## [1.1.0 - January 2015](v1_1/release-notes.html) ##

## [1.0.1 - November 2014](v1_0_1/release-notes.html) ##

## [1.0.0 - July 2014](v1_0/release-notes.html) ##
