---
title: Geofences
---

<%= partial '../../end-of-life' %>

<a id="geofences"></a>

##<a id="geofences"></a>Endpoints for Managing Geofences ##

###<a id="geofences_create"></a> Create Geofence###
#### POST /v1/geofence

Create a geofence for an app

**Authentication: HTTP basic application\_uuid:api\_key**

**Query Parameters: None**

##### Request Body:

```JSON
  {
    "tags": [
      "tag1",
      "tag2"
    ],
    "locations": [
      "1",
      "2"
    ],
    "trigger_type": "enter",
    "start_time": 0,
    "expiry_time": 1424443201000,
    "platform": "",
    "data": {
      "ios": {
        "alertBody": "",
        "category": "",
        "alertAction": "",
        "alertTitle": "",
        "alertLaunchImage": "",
        "hasAction": false,
        "applicationBadgeNumber": 0,
        "soundName": "",
        "userInfo": "object"
      },
      "android": "object"
    }
  }
```

##### Geofence Fields

* tags<br/><br/>
type: array of strings<br /><br />
required: no<br /><br />
This is a list of tags to target. If not empty it will limit the audience for the geofence to only users that have subcribed to one or more of the listed tags
* locations<br/></br>
required: yes<br /><br />
type: array of numbers<br /><br />
List of location ids for the locations that should be included in the geofence
* trigger\_type<br/><br/>
required: yes<br /><br />
type: "string"; possible values are "enter", "exit"<br /><br />
When trigger\_type is set to "enter" the notification will be displayed when a user enter the geofence. When it is set to "exit" the notification will not be displayed until the user exits the geofence.
* start\_time<br /><br />
required: yes<br /><br />
type: millisecond timestamp (integer)<br/><br/>
Geofences are only active for a fixed period of time. "start_time" determines when the geofence should become active. Set this to "0" to activate the geofence upon creation
* expiry\_time<br/><br/>
required: yes<br /><br />
type: millisecond timestamp (integer)<br/><br/>
Sets the time when the geofence should become inactive.
* platform<br /><br />
required: yes<br /><br />
type: string; possible values are "android", "ios", "all"<br /><br />
Target the geofence to devices of a specific platform
* data<br /><br />
required: yes<br /><br />
type: object<br /><br />
The data object contains platform specific fields for constructing the notification to be displayed.
These are slightly different than fields used in the push api because geofence notifications are actually local notifications.
[Custom User IDs](../push/push.html#custom_user_id) are not a supported way to target registered devices for geofences.

##### iOS Geofence Data Fields

For Apple's reference on local notifications see [https://developer.apple.com/library/ios/documentation/iPhone/Reference/UILocalNotification_Class/index.html#//apple_ref/occ/instp/UILocalNotification/alertBody](https://developer.apple.com/library/ios/documentation/iPhone/Reference/UILocalNotification_Class/index.html#//apple_ref/occ/instp/UILocalNotification/alertBody)


All fields here are optional.

* alertBody<br /><br />
type: string<br /><br />
A string or localized-string key to use as the notification alert message. If nil or empty there no alert will be shown. Printf style escape characters are stripped from the string prior to display; to include a percent symbol (%) in the message, use two percent symbols (%%).
* category
type: string<br /><br />
The value of this property is the category name associated with a registered UIUserNotificationSettings object. When the alert for the local notification is displayed, the system uses the string you specify to look up the group and retrieve its actions. It then adds a button to the alert for each action defined by the group. When the user taps one of those buttons, the app is woken up (or launched) and given a chance to perform the designated action. If the specified category name does not belong to a registered group of actions, the alert does not display any additional action buttons.
* alertAction<br /><br />
type: string<br /><br />
A string or localized-string key to use as the title of the right button of the alert or the value of the unlock slider, where the value replaces “unlock” in “slide to unlock”. If you specify nil, and alertBody is non-nil, “View” (localized to the preferred language) is used as the default value.
* alertTitle<br /><br />
type: string<br /><br />
A short description of the reason for the alert. Apple Watch displays the title string as part of the short look notification interface, which has limited space.
* alertLaunchImage<br /><br />
type: string<br /><br />
Identifies the image used as the launch image when the user taps (or slides) the action button (or slider).
* hasAction
type: boolean
Determines whether or not to show an alert action.
* applicationBadgeNumber<br /><br />
type: number<br /><br />
The number to display as the app icon's badge. Default value is 0 which will simply not display a badge.
* soundName<br /><br />
type: string<br /><br />
The name of the file containing the sound to play when an alert is displayed.
* userInfo<br /><br />
type: dictionary
A dictionary for passing custom information to the notified app.

---------------------

##### Response:

```JSON
  {
    "id": 0,
    "tags": [
      ""
    ],
    "expiry_time": 0,
    "trigger_type": "",
    "locations": [
      {
        "name": "",
        "id": 0,
        "long": "",
        "rad": 0,
        "lat": "",
        "created_at": 0,
        "updated_at": 0
      }
    ],
    "platform": "",
    "created_at": 0,
    "updated_at": 0,
    "data": {
       "ios": {
        "alertBody": "",
        "category": "",
        "alertAction": "",
        "alertTitle": "",
        "alertLaunchImage": "",
        "hasAction": false,
        "applicationBadgeNumber": 0,
        "soundName": "",
        "userInfo": "object"
      },
      "android": "object"
    },
    "start_time": 0
  }
```

----------------

###<a id="geofences_get_all"></a>  Get Geofences ###
#### GET /v1/geofence

Get all geofences for an app

**Authentication: HTTP basic application\_uuid:api\_key**

**Query Parameters:**

Parameters      | Description
----------------|------------
page: integer   | result page to display
size: integer   | number of results per page
timestamp: long | timestamp in milliseconds

##### Request Body: None

##### Response:

```JSON
    {
      "size": 25,
      "totalGeofences": 1,
      "totalPages": 1,
      "page": 1,
      "geofences": [
        {
          "id": 1,
          "expiry_time": 1424443201000,
          "trigger_type": "enter",
          "updated_at": 1423513994000,
          "created_at": 1423513994000,
          "data": {"object":{"key":"value"}},
          "tags": ["tag1"],
          "locations": [
            {
              "name": "sample",
              "id": 1,
              "lat": "0.0",
              "long": "0.0",
              "rad": 100,
              "updated_at": 1423513994000,
              "created_at": 1423513994000
            }
          ]
        }
      ]
    }
```


---------------


### <a id="geofences_get_updated"></a> Get Geofence Updates ###
#### GET /v1/geofences

Get updated geofences since a timestamp. This endpoint is used by devices to fetch an updated list of geofences to monitor.

**Authentication: HTTP basic platform\_uuid:platform\_secret**

**Query Parameters:**

Parameters      | Description
----------------|------------
timestamp: long | timestamp in milliseconds


##### Request Body:
None.

##### Response:

```JSON
    {
      "num": 3,
      "deleted_geofence_ids": [1,2],
       "geofences": [
        {
          "id": 5,
          "expiry_time": 1424443201000,
          "trigger_type": "enter",
          "updated_at": 1423513994000,
          "created_at": 1423513994000,
          "data": {"object":{"key":"value"}},
          "tags": ["tag1"],
          "locations": [
            {
              "name": "sample",
              "id": 1,
              "lat": "0.0",
              "long": "0.0",
              "rad": 100,
              "updated_at": 1423513994000,
              "created_at": 1423513994000
            }
          ],
      "last_modified": 1423513994000
    }
```

* deleted\_geofence\_ids<br/><br/>
type: array of numbers<br/><br/>
List of ids for geofences that have been deleted since the requested timestamp.

* geofences<br/><br/>
type: array of geofence objects<br/><br/>
List of geofences that have been added since the requested timestamp.

---------------

### <a id="geofences_get_one"></a> Get One Geofence ###
#### GET /v1/geofence/:geofence\_id

**Authentication: HTTP basic application\_uuid:api\_key**

**Query Parameters: None**

##### Request Body:
None.

##### Response:

```JSON
    {
      "id": 1,
      "expiry_time": 1424443201000,
      "trigger_type": "enter",
      "updated_at": 1423513994000,
      "created_at": 1423513994000,
      "data": {"object":{"key":"value"}},
      "tags": ["tag1"],
      "locations": [
        {
          "name": "sample",
          "id": 1,
          "lat": "0.0",
          "long": "0.0",
          "rad": 100,
          "updated_at": 1423513994000,
          "created_at": 1423513994000
        }
      ]
    }
```

----------------

### <a id="geofences_update"></a>Update a Geofence ###
#### PUT /v1/geofence/:geofence\_id

**Authentication: HTTP basic application\_uuid:api\_key**

**Query Parameters: None**

##### Request Body:

```JSON
    {
      "trigger_type": "enter",
      "expiry_time": 1424443201000,
      "data": {"object":{"key":"value"}},
      "tags": [
        "tag1"
      ],
      "locations": [1]
    }
```

##### Response:

```JSON
    {
      "id": 1,
      "expiry_time": 1424443201000,
      "trigger_type": "enter",
      "updated_at": 1423513994000,
      "created_at": 1423513994000,
      "data": {"object":{"key":"value"}},
      "tags": [
        "tag1"
      ],
        "locations": [
        {
          "name": "sample",
          "id": 1,
          "lat": "0.0",
          "long": "0.0",
          "rad": 100,
          "updated_at": 1423513994000,
          "created_at": 1423513994000
        }
      ]
    }
```

----------------

### <a id="geofences_delete"></a> Delete a Geofence ###
#### DELETE /v1/geofence/:geofence\_id

**Authentication: HTTP basic application\_uuid:api\_key**

**Query Parameters: None**

##### Request Body:
None.

##### Response: 204 (NO CONTENT)

----------------


## <a id="locations"></a>Locations ##
--------

Endpoints for managing geofence locations.


### <a id="locations_get_all"></a>Get All Locations ###
#### GET /v1/locations

Get all geofence locations for an app

**Authentication: HTTP basic application\_uuid:api\_key**

**Query Parameters:**

Parameters      | Description
----------------|------------
page: integer   | result page to display
size: integer   | number of results per page
timestamp: long | timestamp in milliseconds
q: string       | keyword to search for

##### Request Body:
None.

##### Response:

```JSON
  {
    "size": 25,
    "locations": [
      {
        "name": "sample",
        "id": 1,
        "long": "0.0",
        "rad": 100,
        "lat": "0.0",
        "created_at": 1423513994000,
        "updated_at": 1423513994000
      }
    ],
    "totalLocations": 1,
    "totalPages": 1,
    "page": 1
  }
```

----------------


###<a id='locations_get_one'></a> Get One Location ###
#### GET /v1/locations/:location_id

**Authentication: HTTP basic application\_uuid:api\_key**

**Query Parameters: None**

##### Request Body:
None.

##### Response:

```JSON
    {
      "name": "sample",
      "id": 1,
      "lat": "0.0",
      "long": "0.0",
      "rad": 100,
      "updated_at": 1423513994000,
      "created_at": 1423513994000
    }
```

###<a id='locations_create'></a> Create a New Location ###
#### POST /v1/locations

**Authentication: HTTP basic application\_uuid:api\_key**

**Query Parameters: None**

##### Request Body:

```JSON
    {
      "name": "sample",
      "lat": "0.0",
      "long": "0.0",
      "rad": 100
    }
```

* name: a name for the location
* lat: latitude in degrees
* long: longitude in degrees
* rad: radius in meters


##### Response:

```JSON
    {
      "name": "sample",
      "id": 1,
      "lat": "0.0",
      "long": "0.0",
      "rad": 100,
      "updated_at": 14235139940000,
      "created_at": 1423513994000
    }
```

----------------


###<a id='locations_update'></a> Update a Location ###
#### PUT /v1/locations/:location_id

**Authentication: HTTP basic application\_uuid:api\_key**

**Query Parameters: None**

##### Request Body:

```JSON
    {
      "name": "sample",
      "lat": "0.0",
      "long": "0.0",
      "rad": 100
    }
```

##### Response:

```JSON
    {
      "name": "sample",
      "id": 1,
      "lat": "0.0",
      "long": "0.0",
      "rad": 100,
      "updated_at": 1423513994000,
      "created_at": 1423513994000
    }
```

----------------


###<a id='locations_delete'></a> Delete a Location ###
#### DELETE /v1/locations/:location_id

**Authentication: HTTP basic application\_uuid:api\_key**

**Query Parameters: None**

##### Request Body:
None.

##### Response: 204 (NO CONTENT)

##<a id='location_groups'></a>Location Groups ##
----------------

Endpoints for managing geofence locations.



###<a id='location_groups_get_all'></a> Get All Location Groups ###
#### GET /v1/location_groups

Get all location groups for an app

**Authentication: HTTP basic application\_uuid:api\_key**

**Query Parameters:**

Parameters      | Description
----------------|------------
page: integer   | result page to display
size: integer   | number of results per page
timestamp: long | timestamp in milliseconds
q: string       | keyword to search for

##### Request Body:
None.

##### Response:

```JSON
  {
    "size": 25,
    "location_groups": [
      {
        "name": "sample group",
        "id": 1,
        "description": "sample location group",
        "locations": [
          {
            "name": "sample",
            "id": 1,
            "long": "0.0",
            "rad": 100,
            "lat": "0.0",
            "createdAt": 1423513994000,
            "updatedAt": 1423513994000
          }
        ],
        "created_at": 1423513994000,
        "updated_at": 1423513994000
      }
    ],
    "totalLocationGroups": 1,
    "totalPages": 1,
    "page": 1
  }
```

----------------


###<a id='location_groups_get_one'></a> Get One Location Group ###
#### GET /v1/location\_groups/:location\_group\_id

**Authentication: HTTP basic application\_uuid:api\_key**

**Query Parameters: None**

##### Request Body:
None.

##### Response:

```JSON
  {
    "name": "sample group",
    "id": 1,
    "description": "sample location group",
    "locations": [
      {
        "name": "sample location",
        "id": 1,
        "long": "0.0",
        "lat": "0.0",
        "rad": 100
        "createdAt": 1423513994000,
        "updatedAt": 1423513994000
      }
    ],
    "created_at": 1423513994000,
    "updated_at": 1423513994000
  }
```


###<a id='location_groups_create'></a> Create a Location Group ###
#### POST /v1/location\_groups

**Authentication: HTTP basic application\_uuid:api\_key**

**Query Parameters: None**

##### Request Body:

```JSON
  {
    "name": "sample group",
    "location_ids": [
      1
    ],
    "description": "a sample location group"
  }
```

* name: name for the location group
* location_ids: list of ids for locations to include in the group
* description: a short description of the group

##### Response:

```JSON
  {
    "name": "sample group",
    "id": 1,
    "description": "",
    "locations": [
      {
        "name": "sample",
        "id": 1,
        "long": "0.0",
        "rad": 100,
        "lat": "0.0",
        "createdAt": 1423513994000,
        "updatedAt": 1423513994000
      }
    ],
    "created_at": 1423513994000,
    "updated_at": 1423513994000
  }
```

----------------

###<a id="location_groups_update"></a> Update a Location Group ###
#### PUT /v1/location\_groups/:location\_group\_id

**Authentication: HTTP basic application\_uuid:api\_key**

**Query Parameters: None**

##### Request Body:

```JSON
  {
    "name": "sample group",
    "location_ids": [
      1
    ],
    "description": "a sample location group"
  }
```

##### Response:

```JSON
  {
    "name": "sample group",
    "id": 1,
    "description": "",
    "locations": [
      {
        "name": "sample",
        "id": 1,
        "long": "0.0",
        "rad": 100,
        "lat": "0.0",
        "createdAt": 1423513994000,
        "updatedAt": 1423513994000
      }
    ],
    "created_at": 1423513994000,
    "updated_at": 1423513994000
  }
```

----------------

###<a id="location_groups_delete"></a> Delete a Location Group ###
#### DELETE /v1/location\_groups/:location\_group\_id

**Authentication: HTTP basic application\_uuid:api\_key**

**Query Parameters: None**

##### Request Body:
None.

##### Response: 204 (NO CONTENT)
