---
title: Windows Phone (MPNS)
---

<pre><code>   "custom": {
      "windowsPhone": {
        "template_fields": {},
        "template": ""
      }
   }
</code></pre>

<p>The custom fields for windows phone allow you to define the template to use for the notification and the values of all the fields for that template. Documentation for templates can be found in the following locations:</p>

#####Flip Tile:

<p>Template: flipTile</p>

<p>Reference: <a href="http://msdn.microsoft.com/en-us/library/windows/apps/jj206971(v=vs.105).aspx">http://msdn.microsoft.com/en-us/library/windows/apps/jj206971(v=vs.105).aspx</a></p>

<p>Template Fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>backgroundImage</td>
<td>String</td>
</tr>
<tr>
<td>backBackgroundImage</td>
<td>String</td>
</tr>
<tr>
<td>backTitle</td>
<td>String</td>
</tr>
<tr>
<td>backContent</td>
<td>String</td>
</tr>
<tr>
<td>count</td>
<td>Integer</td>
</tr>
<tr>
<td>smallBackgroundImage</td>
<td>String</td>
</tr>
<tr>
<td>wideBackBackgroundImage</td>
<td>String</td>
</tr>
<tr>
<td>wideBackgroundImage</td>
<td>String</td>
</tr>
<tr>
<td>wideBackContent</td>
<td>String</td>
</tr>
<tr>
<td>tileId</td>
<td>String</td>
</tr>
</tbody>
</table>

#####Tile:

<p>Reference: <a href="http://msdn.microsoft.com/en-us/library/windows/apps/jj553779(v=vs.105).aspx">http://msdn.microsoft.com/en-us/library/windows/apps/jj553779(v=vs.105).aspx</a></p>

<p>Template: tile</p>

<p>Template Fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>count</td>
<td>Integer</td>
</tr>
<tr>
<td>backBackgroundImage</td>
<td>String</td>
</tr>
<tr>
<td>backTitle</td>
<td>String</td>
</tr>
<tr>
<td>backContent</td>
<td>String</td>
</tr>
<tr>
<td>backgroundImage</td>
<td>String</td>
</tr>
</tbody>
</table>

#####Cycle Tile:

<p>Reference: <a href="http://msdn.microsoft.com/en-us/library/windows/apps/jj207036(v=vs.105).aspx">http://msdn.microsoft.com/en-us/library/windows/apps/jj207036(v=vs.105).aspx</a></p>

<p>Template: cycleTile</p>

<p>Template Fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>tileId</td>
<td>String</td>
</tr>
<tr>
<td>smallBackgroundImage</td>
<td>String</td>
</tr>
<tr>
<td>count</td>
<td>Integer</td>
</tr>
<tr>
<td>cycleImages</td>
<td>List of String</td>
</tr>
</tbody>
</table>

#####Iconic Tile:

<p>Reference: <a href="http://msdn.microsoft.com/en-us/library/windows/apps/jj207009(v=vs.105).aspx">http://msdn.microsoft.com/en-us/library/windows/apps/jj207009(v=vs.105).aspx
</a></p>

<p>Template: iconicTile</p>

<p>Template Fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>tileId</td>
<td>String</td>
</tr>
<tr>
<td>count</td>
<td>Integer</td>
</tr>
<tr>
<td>smallIconImage</td>
<td>String</td>
</tr>
<tr>
<td>iconImage</td>
<td>String</td>
</tr>
<tr>
<td>wideContent1</td>
<td>String</td>
</tr>
<tr>
<td>wideContent2</td>
<td>String</td>
</tr>
<tr>
<td>wideContent3</td>
<td>String</td>
</tr>
<tr>
<td>backgroundColor</td>
<td>String</td>
</tr>
</tbody>
</table>

######Toast:

<p>Template: toast</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>subtitle</td>
<td>String</td>
</tr>
<tr>
<td>parameter</td>
<td>String</td>
</tr>
</tbody>
</table>
</article>