---
title: Registration
---

<a name="register"></a>
### POST /v1/registration/

Register a device to an app release. The response will include a "device_uuid". You should save this identifier as other registration
endpoints will require it (ex. DELETE)

Authentication: HTTP basic variant_uuid:secret

Params: None

#### Request Body:

```ruby
{
  "device_alias": "string",         # application specific device/user identifier
  "device_model": "string",         # device model identifier
  "device_manufacturer": "string",  # device manufacturer identifier
  "os": "string",                   # device os, one of [ios|android|windowsPhone|windows8|bb10]
  "os_version": "string",           # device version string
  "registration_token": "string"    # token provided by APNS(ios), GCM(android), MPNS (windowsPhone), WNS (windows8), or the blackberry pin of the device
  "tags": [ "tag1", "tag2" ]        # tags the device/user is subscribed to, this will overwrite any existing tags the device/user was previously subscribed to
}
```

#### Response:

```ruby
{
  "os_version": "",
  "tags": [
    {
      "text": "tag1"
    },
    {
      "text": "tag2"
    }
  ],
  "os": "",
  "device_model": "",
  "device_manufacturer": "",
  "device_alias": "",
  "device_uuid": "",
  "registration_token": "",
  "active": ""
}
```

----------------

<a name="registrations_update"></a>
### PUT /v1/registration/:device_uuid

Update a registration. Requires that the device_uuid returned when you registered is sent as a url parameter.

Authentication: HTTP basic variant_uuid:secret

Params: None

Request Body:

```ruby
{
  "device_alias": "string",         # application specific device/user identifier
  "device_manufacturer": "string",	# device manufacturer identifier
  "device_model": "string",         # device model identifier
  "os_version": "string",           # os version string
  "registration_token", "string"    # token provided by APNS(ios), GCM(android), MPNS (windowsPhone), or WPN (windows8)
  "tags": {
    "subscribe": ["tag1","tag2"],   # add new tags subscriptions to the device/user
    "unsubscribe": ["tag3","tag4"]  # remove tags that the device/user is subscribed to
  }
}
```

----------------

<a name="unregister"></a>
### DELETE /v1/registration/:device_uuid

Delete a registration. Requires that the device_uuid returned when you registered is sent as a url parameter

Authentication: HTTP basic variant_uuid:secret

Params: None

#### Request Body: None

#### Response: 204 (no content)

