---
title: Heartbeat Walkthrough for iOS
owner: push notification service
---

## <a id="before"></a> Before You Begin

Ensure you have the following:

* an iOS 8+ device
* latest Xcode supporting Swift 2.2 installed on your workstation
* an Apple Developer account

<a href="heartbeat-ios.html#before" class="subnav" style="display: none;">Before you Begin
</a>
<a href="heartbeat-ios.html#request-ios-cert" class="subnav" style="display: none;">Request an iOS Development Certificate
</a>
<a href="heartbeat-ios.html#request-apns-cert" class="subnav" style="display: none;">Request an APNS Development Certificate
</a>

## <a id="request-ios-cert"></a> Request an iOS Development Certificate

1. Navigate to Apple's Devloper Portal(https://developer.apple.com/account/ios/certificate) and select the **Certificates, Identifiers & Profiles** section. 

1. In the sidebar, select **All** under the **Certificates** header. 

1. Click the + button on the top right.

	![iOS Certs 1](images/iOSCerts/01.png) 

1. Select **iOS App Development** and continue. 

	![iOS Certs 2](images/iOSCerts/02.png)

1. Launch the Keychain Access application on your machine. 

1. In the top navbar, select **Keychain Acess** > **Certificate Assistant** > **Request a Certificate from a Certificate Authority**. 

	![dropdown](images/iOSCerts/k01.png)

1. Enter the information required and check the **Saved to disk** option. 

1. Click continue and save the certificate request when prompted. 

	![save request](images/iOSCerts/k02.png)

1. Back in the Apple Portal, continue past the CSR Request instructions and upload the new `.csr` file you've created. 

1. Click **Continue** and generate the new certificate. 

	![generate cert](images/iOSCerts/03.png)

	![upload csr](images/iOSCerts/06.png)

1. Click **Download** and open your shiny new certificate.

	![download cert](images/iOSCerts/07.png)

	![open cert](images/iOSCerts/k03.png)

## <a id="request-apns-cert"></a> Request an APNS Certificate

### Create an App ID

1. Navigate to Apple's Devloper Portal(https://developer.apple.com/account/ios/certificate) and select the **Certificates, Identifiers & Profiles** section. 

1. In the sidebar, select **App IDs** under the **Identifiers** header. 