---
title: Heartbeat Walkthrough for iOS
owner: push notification service
---

## <a id="before"></a> Before You Begin
<!-- The following invisible link puts this section in the subnav on the left of the page -->
<a href="heartbeat-ios.html#before" class="subnav" style="display: none;">Before you Begin
</a>

Ensure you have the following:

* an iOS 8+ device
* latest Xcode supporting Swift 2.2 installed on your workstation
* an Apple Developer account

## <a id="request-ios-cert"></a> Request an iOS Development Certificate
<!-- The following invisible link puts this section in the subnav on the left of the page -->
<a href="heartbeat-ios.html#request-ios-cert" class="subnav" style="display: none;">Request an iOS Development Certificate
</a>

1. Navigate to [Apple's Devloper Portal](https://developer.apple.com/account/ios/certificate) and select the **Certificates, Identifiers & Profiles** section. 

1. In the sidebar, select **All** under the **Certificates** header. 

1. Click the + button on the top right.

	![iOS Certs 1](images/iOSCerts/01.png) 

1. Select **iOS App Development** and continue. 

	![iOS Certs 2](images/iOSCerts/02.png)

1. Launch the Keychain Access application on your machine. 

1. In the top navbar, select **Keychain Acess** > **Certificate Assistant** > **Request a Certificate from a Certificate Authority**. 

	![dropdown](images/iOSCerts/k01.png)

1. Enter the information required and check the **Saved to disk** option. 

1. Click continue and save the certificate request when prompted. 

	![save request](images/iOSCerts/k02.png)

1. Back in the Apple Portal, continue past the CSR Request instructions and upload the new `.csr` file you've created. 

1. Click **Continue** and generate the new certificate. 

	![generate cert](images/iOSCerts/03.png)

	![upload csr](images/iOSCerts/06.png)

1. Click **Download** and open your shiny new certificate.

	![download cert](images/iOSCerts/07.png)

	![open cert](images/iOSCerts/k03.png)

## <a id="request-apns-cert"></a> Request an APNS Certificate
<!-- The following invisible link puts this section in the subnav on the left of the page -->
<a href="heartbeat-ios.html#request-apns-cert" class="subnav" style="display: none;">Request an APNS Development Certificate
</a>

### Create an App ID

1. Navigate to Apple's Devloper Portal(https://developer.apple.com/account/ios/certificate) and select the **Certificates, Identifiers & Profiles** section. 

1. In the sidebar, select **App IDs** under the **Identifiers** header. Then click on the **+** button in the top right.

	![APNS Certs 1](images/APNSCerts/01.png)

1. Enter an **App ID Description** and a **Bundle ID**.

	![APNS Certs 2](images/APNSCerts/02.png)

1. Enable the **Push Notifications** App Service and click **Continue**.

	![APNS Certs 3](images/APNSCerts/03.png)

1. Then click **Register**.

	![APNS Certs 4](images/APNSCerts/04.png)

### Create an APNS Certificate

1. Now in the **App IDs** list, find and select the App ID you've registered. Then click **Edit**

	![APNS Certs 5](images/APNSCerts/05.png)

1. Under the **Push Notifications** section, decide whether you need a **Development SSL Certificate** or a **Production SSL Certificate** and click the corresponding **Create Certificate** button.

	![APNS Certs 6](images/APNSCerts/06.png)

1. Now we are going to follow the same process we did for requesting a **iOS Development Certificate**. Continue past the CSR Request instructions and upload the same **.csr** file you created earlier. Click **Continue** and generate the new certificate.

	![iOS Certs 3](images/iOSCerts/03.png)
	![iOS Certs 6](images/iOSCerts/06.png)

1. Click **Download** and open your shiny new certificate.

1. In **Keychain Access**, select both your **Apple Development iOS Push Services** certificate and the private key it was signed with.

	![APNS Certs 7](images/APNSCerts/07.png)

1. Right click, select **Export 2 Items...** and save the **.p12** file somewhere you will remember. You will need to upload this certificate to the Push Dashboard later.

	![APNS Certs 8](images/APNSCerts/08.png)

## <a id="create-provisioning-profile"></a> Create a Provisioning Profile
<!-- The following invisible link puts this section in the subnav on the left of the page -->
<a href="heartbeat-ios.html#create-provisioning-profile" class="subnav" style="display: none;">Create a Provisioning Profile
</a>

### Register a Device

*You need an iOS 8+ Device to use Heartbeat Monitor. If you have already have an iOS 8+ Device registered, you can skip to the next step.*

1. Navigate to [Apple's Developer Portal](https://developer.apple.com/account/ios/device/) and select the **Certificates, Identifiers & Profiles** section.

1. In the sidebar, select **All** under the **Devices** header. Then click on the **+** button in the top right.

	![Provisioning 1](images/Provisioning/01.png)

1. In order to register your device, you will need the **UUID** of the device. To get it, connect your device to your computer, open **iTunes**, and navigate to the device tab.

	![Provisioning 2](images/Provisioning/02.png)

