---
title: Heartbeat Walkthrough 
owner: push notification service
---

The Heartbeat app tests your system by sending pushes on a consistent interval 

Choose which guide you want to follow: 
 
<ul>
<li><a href="./heartbeat-android.html" class="subnav">Configure Heartbeat Monitor for Android</a></li>
<li><a href="./heartbeat-ios.html" class="subnav"">Configure Heartbeat Monitor for iOS</a></li>
</ul>
