---
title: Push Notification Service v1.1.0.0 Windows8 (WNS)Push API
---

<p>The custom fields for windows 8 allows you to define the template to use for the notification and the values of all the fields for that template. Documentation for templates can be found in the following locations:</p>

<p>Tile Notifications : <a href="http://msdn.microsoft.com/en-us/library/windows/apps/hh761491.aspx"></a><a href="http://msdn.microsoft.com/en-us/library/windows/apps/hh761491.aspx">http://msdn.microsoft.com/en-us/library/windows/apps/hh761491.aspx</a></p>

<p>Toast Notifications : <a href="http://msdn.microsoft.com/en-us/library/windows/apps/hh761494.aspx"></a><a href="http://msdn.microsoft.com/en-us/library/windows/apps/hh761494.aspx">http://msdn.microsoft.com/en-us/library/windows/apps/hh761494.aspx</a></p>

<p>Badge Notifications : <a href="http://msdn.microsoft.com/en-us/library/windows/apps/hh779719.aspx"></a><a href="http://msdn.microsoft.com/en-us/library/windows/apps/hh779719.aspx">http://msdn.microsoft.com/en-us/library/windows/apps/hh779719.aspx</a></p>

<pre><code>    "custom": {
      "windows8": {
        "template_name": "",
        "template_fields": {},
        "options": {},
        "type": ""
      }
    }
</code></pre>

##Tile Templates

<p>See <a href="http://msdn.microsoft.com/en-us/library/windows/apps/hh761491.aspx">http://msdn.microsoft.com/en-us/library/windows/apps/hh761491.aspx</a> for diagrams of these templates</p>

<p>template_name: TileSquareBlock</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileSquareText01</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>textField4</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileSquareText02:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileSquareText03:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>textField4</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileSquareText04:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileSquareImage:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileSquarePeekImageAndText01:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>textField4</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileSquarePeekImageAndText02:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileSquarePeekImageAndText03:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>textField4</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileSquarePeekImageAndText04:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideText01:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>textField4</td>
<td>String</td>
</tr>
<tr>
<td>textField5</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideText02:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>textField4</td>
<td>String</td>
</tr>
<tr>
<td>textField5</td>
<td>String</td>
</tr>
<tr>
<td>textField6</td>
<td>String</td>
</tr>
<tr>
<td>textField7</td>
<td>String</td>
</tr>
<tr>
<td>textField8</td>
<td>String</td>
</tr>
<tr>
<td>textField9</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideText03:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideText04:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideText05:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>textField4</td>
<td>String</td>
</tr>
<tr>
<td>textField5</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideText06:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>textField4</td>
<td>String</td>
</tr>
<tr>
<td>textField5</td>
<td>String</td>
</tr>
<tr>
<td>textField6</td>
<td>String</td>
</tr>
<tr>
<td>textField7</td>
<td>String</td>
</tr>
<tr>
<td>textField8</td>
<td>String</td>
</tr>
<tr>
<td>textField9</td>
<td>String</td>
</tr>
<tr>
<td>textField10</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideText07:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>textField4</td>
<td>String</td>
</tr>
<tr>
<td>textField5</td>
<td>String</td>
</tr>
<tr>
<td>textField6</td>
<td>String</td>
</tr>
<tr>
<td>textField7</td>
<td>String</td>
</tr>
<tr>
<td>textField8</td>
<td>String</td>
</tr>
<tr>
<td>textField9</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideText08:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>textField4</td>
<td>String</td>
</tr>
<tr>
<td>textField5</td>
<td>String</td>
</tr>
<tr>
<td>textField6</td>
<td>String</td>
</tr>
<tr>
<td>textField7</td>
<td>String</td>
</tr>
<tr>
<td>textField8</td>
<td>String</td>
</tr>
<tr>
<td>textField9</td>
<td>String</td>
</tr>
<tr>
<td>textField10</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideText09:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideText10:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>textField4</td>
<td>String</td>
</tr>
<tr>
<td>textField5</td>
<td>String</td>
</tr>
<tr>
<td>textField6</td>
<td>String</td>
</tr>
<tr>
<td>textField7</td>
<td>String</td>
</tr>
<tr>
<td>textField8</td>
<td>String</td>
</tr>
<tr>
<td>textField9</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideText11:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>textField4</td>
<td>String</td>
</tr>
<tr>
<td>textField5</td>
<td>String</td>
</tr>
<tr>
<td>textField6</td>
<td>String</td>
</tr>
<tr>
<td>textField7</td>
<td>String</td>
</tr>
<tr>
<td>textField8</td>
<td>String</td>
</tr>
<tr>
<td>textField9</td>
<td>String</td>
</tr>
<tr>
<td>textField10</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideImage:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideImageCollection:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc2</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc3</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc4</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc5</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideImageAndText01:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideImageAndText02:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideBlockAndText01:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>textField4</td>
<td>String</td>
</tr>
<tr>
<td>textField5</td>
<td>String</td>
</tr>
<tr>
<td>textField6</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideBlockAndText02:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideSmallImageAndText01:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideSmallImageAndText02:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>textField4</td>
<td>String</td>
</tr>
<tr>
<td>textField5</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideSmallImageAndText03:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideSmallImageAndText04:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWideSmallImageAndText05:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWidePeekImageCollection01:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc2</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc3</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc4</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc5</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWidePeekImageCollection02:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc2</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc3</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc4</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc5</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>textField4</td>
<td>String</td>
</tr>
<tr>
<td>textField5</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWidePeekImageCollection03:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc2</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc3</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc4</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc5</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWidePeekImageCollection04:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc2</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc3</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc4</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc5</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWidePeekImageCollection05:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc2</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc3</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc4</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc5</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc6</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWidePeekImageCollection06:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc2</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc3</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc4</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc5</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc6</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWidePeekImageAndText01:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWidePeekImageAndText02:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>textField4</td>
<td>String</td>
</tr>
<tr>
<td>textField5</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWidePeekImage01:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWidePeekImage02:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>textField4</td>
<td>String</td>
</tr>
<tr>
<td>textField5</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWidePeekImage03:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWidePeekImage04:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWidePeekImage05:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc2</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: TileWidePeekImage06:</p>

<p>type: tile</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc2</td>
<td>String</td>
</tr>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
</tbody>
</table>

##Toast Templates

<p>See <a href="http://msdn.microsoft.com/en-us/library/windows/apps/hh761494.aspx">http://msdn.microsoft.com/en-us/library/windows/apps/hh761494.aspx</a> for diagrams of these templates</p>

<p>template_name: ToastText01</p>

<p>type: toast</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: ToastText02</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: ToastText03</p>

<p>type: toast</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: ToastText04</p>

<p>type: toast</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: ToastImageAndText01</p>

<p>type: toast</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: ToastImageAndText02</p>

<p>type: toast</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: ToastImageAndText03</p>

<p>type: toast</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

<p>template_name: ToastImageAndText04</p>

<p>type: toast</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr>
<td>textField1</td>
<td>String</td>
</tr>
<tr>
<td>textField2</td>
<td>String</td>
</tr>
<tr>
<td>textField3</td>
<td>String</td>
</tr>
<tr>
<td>imgSrc1</td>
<td>String</td>
</tr>
</tbody>
</table>

<hr>

####Toast Options

<table>
    <tbody><tr>
        <td>Field</td>
        <td>Type</td>
        <td>Notes</td>
    </tr>
    
    <tr>
        <td>launch</td>
        <td>String</td>
        <td>This string is passed to the application when it is activated by the toast. The format of this string are defined by the app.
</td>
    </tr>
    <tr>
        <td>audioSrc</td>
        <td>String</td>
        <td>Specifies a sound to use for the notification. Possible values are:<br>
ms-winsoundevent:Notification.Default <br>
ms-winsoundevent:Notification.IM<br>
ms-winsoundevent:Notification.Mail<br>
ms-winsoundevent:Notification.Reminder<br>
ms-winsoundevent:Notification.SMS<br>
ms-winsoundevent:Notification.Looping.Alarm<br>
ms-winsoundevent:Notification.Looping.Alarm2<br>
ms-winsoundevent:Notification.Looping.Alarm3<br>
ms-winsoundevent:Notification.Looping.Alarm4<br>
ms-winsoundevent:Notification.Looping.Alarm5<br>
ms-winsoundevent:Notification.Looping.Alarm6<br>
ms-winsoundevent:Notification.Looping.Alarm7<br>
ms-winsoundevent:Notification.Looping.Alarm8<br>
ms-winsoundevent:Notification.Looping.Alarm9<br>
ms-winsoundevent:Notification.Looping.Alarm10<br>
ms-winsoundevent:Notification.Looping.Call<br>
ms-winsoundevent:Notification.Looping.Call2<br>
ms-winsoundevent:Notification.Looping.Call3<br>
ms-winsoundevent:Notification.Looping.Call4<br>
ms-winsoundevent:Notification.Looping.Call5<br>
ms-winsoundevent:Notification.Looping.Call6<br>
ms-winsoundevent:Notification.Looping.Call7<br>
ms-winsoundevent:Notification.Looping.Call8<br>
ms-winsoundevent:Notification.Looping.Call9<br>
ms-winsoundevent:Notification.Looping.Call10<br>
        </td>
    </tr>
    <tr>
        <td>audioLoop</td>
        <td>Boolean</td>
        <td>Set to true to loop the sound until the toast is addressed, false to only play once</td>
    </tr>
    <tr>
        <td>audioSilent</td>
        <td>Boolean</td>
        <td>Set to true to mute the notification sound, false to allow sound to play</td>
    </tr>
    <tr>
        <td>duration</td>
        <td>String</td>
        <td>The amount of time the toast should display. Possible values: "short" or "long"</td>
    </tr>
</tbody></table>

##Badge Notifications

<p>Badge notifications will display either an integer from 1 to 99 or a glyph on an app's tile. </p>

<p>template_name: N/A Only Has 1 template</p>

<p>type: badge</p>

<p>template_fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>badge_value_string</td>
<td>String</td>
<td>Use this field to set a glyph to display. Available glyphs are described at <a href="http://msdn.microsoft.com/en-us/library/windows/apps/hh779719.aspx">http://msdn.microsoft.com/en-us/library/windows/apps/hh779719.aspx</a>
</td>
</tr>
<tr>
<td>badge_value_integer</td>
<td>Integer</td>
<td>Use this field to display a badge with an integer value from 1 to 99</td>
</tr>
</tbody>
</table>
</article>
