---
title: Tags (DEPRECATED)
---

##UPDATE:##
**Consider using [Topics](http://docs.pivotal.io/push/v1_6_0/api/topics/index.html) instead of tags. 
Topics have extended tags functionality to include the option of providing an expiry time for the topics.**


A tag is a keyword users can subscribe to in order to receive pushes sent to the same tag.  The tags themselves are
free-form, i.e.: your application defines them as needed and they can be any text that your application needs.

## <a id="get_all_tags"></a> GET /v1/tags ##

Returns all existing tags.

Authentication: HTTP Basic app\_uuid:api\_key

Query Parameters: None

### Response Data, status: 200 (OK) ###

Returns a json list of tags.

For example:

```JSON
{
  "tags": [
    "beta",
    "gamma",
    "alpha"
  ]
}
```

------------------

## <a id="get_registrations"></a> GET /v1/tags/all/:tag ##

Returns registration subscribed for given tag.

Authentication: HTTP Basic app\_uuid:api\_key

Query Parameters: None

### Response Data, status: 200 (OK) ###

```JSON
[
  {
    "os": "",					# one of [ios|android|windowsPhone|windows8]
    "device_model": "",			# device model identifier
    "device_manufacturer": "",	# device manufacturer identifier
    "device_alias": "",			# application specific device/user identifier
    "device_uuid": "",			# unique device identifier
    "registration_token": "",	# token provided by APNS (ios), GCM (android), MPNS (windowsPhone), or WNS (windows8)
    "tags": [					# tags the device/user is subscribed to, this will overwrite any existing tags the device/user was 
      {
        "text": ""
      }
    ],
    "active": "",				# can the device be targeted for pushes
    "os_version": ""			# device version string
  }
]
```

------------------

## <a id="get_tags_count"></a> GET /v1/tags/count/:tagId ##

Returns the number of registration subscribed to this specific tagId across all platforms.

Authentication: HTTP Basic app\_uuid:api\_key

Query Parameters: None

### Response Data, status: 200 (OK) ###

Returns an integer.

------------------

## <a id="get_tags_count_by_platform"></a> GET /v1/tags/count/:platformId/:tagId

Returns the number of registered devices subscribed to this specific tagId under a contain platform.

Authentication: HTTP Basic app\_uuid:api\_key

Query Parameters: None

### Response Data, status: 200 (OK) ###

Returns an integer.

------------------

## <a id="tag_create"></a> POST /v1/tags/:tag ##

Create a tag with the text ":tag" if not already created.

Authentication: HTTP Basic app\_uuid:api\_key

Query Parameters: None

### Request Body ###

None.

### Response Data, status: 200 (OK) ###

```JSON
{
  "text": ""
}
```

------------------

## <a id="tags_subscribe_batch"></a> POST /v1/tags/batch ##

User tags subscriptions in batches.

Authentication: HTTP Basic app\_uuid:api\_key

Query Parameters: None

### Example Request Body ###

```JSON
[
  {
    "registration_token": "token1",
    "tags": ["tag1","tag2"]
  },
  {
    "registration_token": "token2",
    "tags": ["tag1","tag2"]
  },
  {
    "device_uuid": "device_uuid1",
    "tags": ["tag1","tag2"]
  },
  {
    "device_uuid": "device_uuid2",
    "tags": ["tag1","tag2"]
  }
]

```

### Response Data, status: 200 (OK) ###

```JSON
{
  "device_uuid": [ "" ],
  "registration_token": [ "" ]
}
```

### Error Response, status: 400 (Malformed request) ###

```JSON
[
  {
    "registration_token": "token",
    "error": "error description"
  },
  {
    "device_uuid": "device_uuid",
    "error": "error description"
  }
]
```

## <a id="tags_delete"></a> DELETE /v1/tags/:tag ##

Delete a tag.

Authentication: HTTP Basic app\_uuid:api\_key

Query Parameters: None

### Response Data, status: 204 (Tag successfully deleted) ###

None.
