---
title: Push Notification Service v1.3.5 Release Notes
---

The Push Notification services allows application developers to publish push notifications to devices on various platforms. Integration is done through provided SDKs which implement the device registration flow.

##Dependencies

####  On PCF 1.5.x or 1.6.x
 - Pivotal Elastic Runtime 1.6.0+
 - Pivotal MySQL Service 1.6.3+
 - Pivotal Redis Service 1.4.x
 - Pivotal RabbitMQ Service 1.4.x

##Known issues

<p class="note"><strong>Note</strong>: BOSH Stemcell 3100 is required for installation on Ops Manager 1.5.x and above.</p>

## List of Changes

 - Support for PCF 1.6 and Diego.
 - SOCKS proxy bug fix.

