---
title: APIs
---

<%= partial '../end-of-life' %>

You can use the following APIs for the Push Notification Service:

<ul>
  <li><a href="./push/push.html" class="subnav">Push API</a></li>
  <li><a href="./registration/registration.html" class="subnav">Registration API</a></li>
  <li><a href="./registrations/registrations.html" class="subnav">Registrations API</a></li>
  <li><a href="./topics/topics.html" class="subnav">Topics API</a></li>
  <li><a href="./custom-user-ids/custom-user-ids.html" class="subnav">Custom User IDs API</a></li>
  <li><a href="./schedules/schedules.html" class="subnav">Schedules API</a></li>
  <li><a href="./geofences/geofences.html" class="subnav">Geofences API</a></li>
</ul>
